### Java / Maven ###
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Logs ###
*.log
logs/

### IDEs (IntelliJ, Eclipse, VS Code) ###
.idea/
*.iml
*.iws
.project
.settings/
.classpath
.factorypath
.vscode/
bin/

### Sistema Operacional ###
.DS_Store
Thumbs.db
desktop.ini

### Variáveis de Ambiente locais ###
.env
.env.local